@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
$mainFont: 'Mitr'; 

* {
  padding: 0;
  margin: 0;
  font-family: $mainFont, 'Courier New', Courier, monospace;
}

body {
  background-color: #eee;
}

.center {
  display: flex;
  position: relative;
  flex-direction: column;
  // border: 1px solid black;
  height: 95vh;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-items: center;
  
  .output {
    display: block;
    margin-top: 15%;
    margin-bottom: 10%;
    color: black;
    font-size: 8em;
    font-weight: 800;
    text-transform: capitalize;
  }

}

button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  height: 3em;
  width: 10em;
  font-size: 1em;
}

.lang {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

label {
  margin: .5em;
  text-transform: capitalize;
}